    body {
            background-color: #ff6fff; 
        }

    h1 {
        font-size: xxx-large; color: yellow; 
    }


    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: darkmagenta
    }

    button {
        background-color: yellow;
    }